* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif, 'Courier New', Courier, monospace;

  /* outline: 1px solid red; */
}

body {
  background-color: #3e76c9;
  background-image: linear-gradient(90deg, #45a3da 0%, #80c7e7 100%);

  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  height: 100vh;
  gap: 1em;
}

.board {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  outline: thick solid #3e7ea8bd;
  display: grid;

  border-radius: 4%;
  overflow: hidden;

  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  align-items: center;

  width: min(50vh, 50vw);
  height: min(50vh, 50vw);
}

.cell {
  background-color: #6291b1;
  background-image: linear-gradient(135deg, #4b697e 0%, #4a4c79 100%);

  width: 90%;
  height: 90%;

  border-radius: 10%;
  overflow: hidden;

  background-color: rgb(245, 245, 245);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: ease 0.2s;
}

.cell {
  font-weight: bolder;
  font-size: 2.5em;
}

.cell:hover {
  background-color: rgb(141, 255, 141);
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  text-align: center;
  color: white;
}

.new-game {
  border: none;

  color: black;
  outline: 0.2em solid black;
  background-color: white;

  font-weight: bolder;
  font-size: 0.9em;
  border-radius: 18% 18% 18% 18% / 50% 50% 50% 50%;
  overflow: hidden;

  padding: 0.7em;
  padding-inline: 1.5em;
  transition: ease-in 0.1s;
  cursor: pointer;
}

.new-game:hover {
  transform: scale(1.02);
  color: white;
  outline: 0.2em solid black;
  background-color: rgba(11, 42, 83, 0.932);
}

.input-fields {
  width: 3em;
}

.ghlink {
  position: absolute;
  bottom: 0.85em;
  right: 0.8em;
}

@media (max-width: 450px) {
  body {
    height: 85vh;
  }

  .board {
    outline: thick solid #3e7ea8bd;

    width: min(90vh, 90vw);
    height: min(90vh, 90vw);
  }
}
